<div class = "container">
    <div class = "jumbotron">
        <h3>All Developer/QAs</h3>
        <table class = "table table-borderless">
            <tr>
                <th scope = "col">Email</th>
                <th scope = "col">Role</th>
                <th scope = "col"></th>
            </tr>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= user.type %></td>
                    <td><%= link_to "Assign", assign_user_project_path(:user_id => user.id, :id => @project.id) %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div> 