<div class = "container">
    <div class = "jumbotron" style = "margin-top:3%;">

        <%= render "error" %>
        <p class = "h2 mb-4">New Bug for <%= @project.title %></p>
        <%= render "form" %>
    </div>
</div> 